* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


html, body {
    height: 100%;
}

body {
    background-image: url('tmp-bg.jpg');
    background-size: auto 100vh;
    background-repeat: repeat-x;
    animation: slideLeft 30s linear infinite;
    overflow: hidden; /* Hide scrollbars */
    color: #eee;
    font-family: monospace;
}

@keyframes slideLeft {
    from {
        background-position: 0 0;
    }
    to {
        /*
         * CRITICAL FIX: The 'to' position must be the calculated width of your image.
         * The formula is: -(ImageAspectRatio * 100)vh
         *
         * EXAMPLE: If your image is 2000px wide and 1000px tall:
         * Aspect Ratio = 2000 / 1000 = 2
         * Value = -(2 * 100)vh = -200vh
         *
         * Replace -200vh below with the calculated value for YOUR image.
        */
        background-position: -100vh 0;
    }
}

#marquee-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.letter-canvas {
    position: absolute;
    /* Center vertically */
    top: 50%;
    transform: translateY(-50%); 
}
#info {
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #555;
    font-size: 12px;
}
