* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


html, body {
    height: 100%;
}

body {
    background-image: url('tmp-bg.jpg');
    background-size: auto 100vh;
    background-repeat: repeat-x;
    animation: slideLeft 30s linear infinite;
}

@keyframes slideLeft {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;
    }
}
